@font-face {
    font-family: generalFont;
    src: url(/src/fonts/Fasthand-Regular.ttf) format('truetype');
}
@font-face {
    font-family: secondFont;
    src: url(/src/fonts/Roboto-Bold.ttf) format('truetype');
}